@mixin hoverLink {
  position: relative;
  padding-bottom: 4.2rem;
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 0.2rem;
    background-color: var(--main-color);
    transition-property: width;
  }
  &:hover {
    &::after {
      width: 100%;
    }
  }
}

@mixin activeLink {
  color: var(--main-color);
}

header.header#header {
  position: relative;
  @include flex(row, between, end, row);
  width: 100%;
  height: 130px;

  @include responsive(desktop) {
    padding: 0 60px;
  }
  @include responsive(tablet) {
    padding: 0 30px;
    height: 100px;
    align-items: center;
  }
  .header__logo {
    @include responsive(tablet) {
      display: block;
      height: 80px;
    }
  }
}
.header__action {
  @include flex(row, between, start, row);
  gap: 60px;
  .navbar {
    @include flex(row, row, center, row);
    gap: 60px;
    @include responsive(tablet) {
      position: fixed;
      top: 120px;
      bottom: 0;
      left: 0;
      transform: translate(-100%, 0);
      flex-basis: 100%;
      flex-direction: column;
      align-items: flex-start;
      padding: 0 30px 0 30px;
      background-color: var(--white);
      gap: 20px;
      &.active {
        transform: translate(0, 0);
      }
    }
    @include responsive("mobile-sm") {
      top: 100px;
      gap: 12px;
    }
    &__navlink {
      transition-property: color;
      @include font(link, p3, A);
      @include hoverLink;
      @include responsive("laptop-md") {
        &:first-child {
          display: none;
        }
      }
      @include responsive(tablet) {
        &:first-child {
          display: block;
        }
      }
      @include responsive("mobile-sm") {
        &:first-child {
          padding: 4px;
        }
        padding: 4px;
      }
      &--active {
        @include activeLink;
      }
    }
  }
  .action-button {
    @include flex(row, row, center, row);
    gap: 60px;
    @include responsive(tablet) {
      gap: 30px;
    }
    &__toggle {
      display: none;
      @include responsive(tablet) {
        display: block;
        width: 30px;
        height: 30px;
        position: relative;
        .burger {
          position: absolute;
          width: 100%;
          height: 3px;
          left: 0;
          background-color: var(--main-color);
          &::before,
          &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 3px;
            left: 0;
            background-color: var(--main-color);
            transition-property: transform;
            transition-duration: 0.5s;
            transform-origin: 70%;
          }
          &::before {
            top: -8px;
          }
          &::after {
            bottom: -8px;
          }
        }
        &.active {
          .burger {
            transform: scale(1.1);
            height: 0;
            &::before {
              transform: translateY(-2px) rotate(-45deg) translateX(-6px);
            }
            &::after {
              transform: translateY(2px) rotate(45deg) translateX(-6px);
            }
          }
        }
      }
    }
    &__cart {
      display: inline-block;
      width: 30px;
      position: relative;
      &::before {
        content: attr(data-count);
        position: absolute;
        display: block;
        top: -0.6rem;
        right: -0.8rem;
        width: 1.6rem;
        height: 1.6rem;
        border-radius: 99px;
        text-align: center;
        color: var(--white);
        font-size: 1.3rem;
        line-height: 1.6rem;
        background: var(--orange-700);
        z-index: 1;
      }
      @include responsive("mobile-sm") {
        img {
          scale: 0.8;
        }
        &::before {
          top: -0.2rem;
          right: -0.2rem;
          width: 1.2rem;
          height: 1.2rem;
          font-size: 1rem;
          line-height: 1.2rem;
        }
      }
    }
    @include responsive("mobile-sm") {
      gap: 12px;
      &__search {
        img {
          scale: 0.8;
        }
      }
      &__toggle {
        width: 20px;
        height: 20px;
        .burger {
          height: 2px;
          &::before,
          &::after {
            height: 2px;
            transform-origin: 82%;
          }
        }
      }
    }
  }
}
