@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");
:root {
  --grey-1000: #3d3c3c;
  --grey-900: #515151;
  --grey-800: #656565;
  --grey-700: #7a7a7a;
  --grey-600: #8e8e8e;
  --grey-500: #a3a3a3;
  --grey-400: #b7b7b7;
  --grey-300: #cbcbcb;
  --grey-200: #e0e0e0;
  --grey-100: #f4f4f4;
  --green-1000: #216000;
  --green-900: #2e8900;
  --green-800: #46b20f;
  --green-700: #63db25;
  --green-600: #81ff41;
  --green-500: #98ff64;
  --green-400: #aeff86;
  --green-300: #c5ffa8;
  --green-200: #dcffca;
  --green-100: #f2ffec;
  --orange-1000: #662400;
  --orange-900: #8e3300;
  --orange-800: #b74200;
  --orange-700: #e05000;
  --orange-600: #ff6916;
  --orange-500: #ff8440;
  --orange-400: #ff9f6a;
  --orange-300: #ffba94;
  --orange-200: #ffd5bd;
  --orange-100: #fff0e7;
  --main-color: var(--green-800);
  --content: #2c2c2c;
  --white: #fff;
  --max-width: 1440px;
}

html,
body,
div,
span,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
img,
q,
strong,
sub,
sup,
i,
ol,
ul,
li,
form,
label,
table,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
figure,
figcaption,
footer,
header,
nav,
section,
audio,
video,
button,
select,
option,
optgroup,
textarea {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: center/cover no-repeat;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
  background-color: var(--white);
}

::-webkit-scrollbar {
  width: 0;
}

body {
  width: 100vw;
  min-height: 100vh;
  overflow: hidden auto;
  padding: 0 calc((100vw - var(--max-width)) / 2);
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--content);
}

button,
input,
select,
textarea {
  outline: none;
  border: none;
  background: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span,
li,
button,
input,
textarea,
select,
option,
optgroup {
  font-family: "Inter", sans-serif;
}

button {
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  object-fit: contain;
}

.container {
  position: relative;
  max-width: 100vw;
  padding: 0 calc((100% - var(--max-width)) / 2);
  margin: 0 auto;
}
.container * {
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

/*
@mixin font($type, $tag, $style) {
  font-style: normal;
  @if $type == title {
    @if $tag != h4 and $tag != h3 {
      font-weight: 800;
    }
    @if $tag != h2 {
      line-height: normal;
    }
    @if $tag == h0 {
      font-size: 6.8rem;
    }
    @if $tag == h1 {
      font-size: 5.2rem;
    }
    @if $tag == h2 {
      font-size: 3.8rem;
      line-height: 4.9979rem;
    }
    @if $tag == h3 {
      font-size: 2.8rem;
      font-weight: 700;
    }
    @if $tag == h4 {
      font-size: 2rem;
      font-weight: 600;
    }
  }
  @if $type == text {
    @if $style != A {
      font-weight: 400;
    } @else {
      font-weight: 600;
    }
    @if $tag == p1 {
      font-size: 2.8rem;
      line-height: 3.2rem;
    }
    @if $tag == p2 {
      font-size: 2.4rem;
      line-height: 3.7rem;
    }
    @if $tag == p3 {
      font-size: 2rem;
      line-height: 2.6rem;
    }
    @if $tag == p4 {
      font-size: 1.6rem;
      line-height: 2.45rem;
    }
  }
  @if $type == link {
    @include font(title, h3, $style);
    text-align: center;
    &:hover {
      color: var(--color-main);
    }
  }
  @if $type == other {
    line-height: normal;
    @if $tag == button1 {
      font-size: 2.4rem;
      font-weight: 700;
    }
    @if $tag == button2 {
      font-size: 2rem;
      font-weight: 700;
    }
    @if $tag == caption1 {
      font-size: 1.8rem;
      font-weight: 500;
    }
    @if $tag == caption2 {
      font-size: 1.2rem;
      font-weight: 400;
    }
    @if $tag == field {
      font-size: 1.8rem;
      font-weight: 400;
    }
  }
}
@mixin activeLink {
  padding-bottom: 4.2rem;
  ::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 0.2rem;
    background-color: var(--main-color);
  }
  &:hover {
    ::after {
      width: 100%;
    }
  }
}
@mixin button($type) {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  @if $type == primary {
    gap: 10px;
    padding: 16px 14px;
    background-color: var(--main-color);
    color: var(--white);
    @include font(other, button2);
    &:hover {
      background-color: var(--orange-600);
    }
    &:active {
      background-color: var(--orange-700);
    }
  }
  @if $type == secondary {
    gap: 4px;
    padding: 14px 26px;
    background-color: var(--white);
    outline: 1px solid var(--main-color);
    color: var(--content);
    @include font(other, button2);
    &:hover {
      background-color: var(--main-color);
    }
    &:active {
      background-color: var(--green-900);
    }
  }
  @if $type == checkout {
    @include button(primary);
    background: var(--content);
    &:hover {
      background-color: var(--orange-600);
    }
  }
  &:disabled {
    background-color: var(--gray-400);
  }
}
@mixin flex($type, $justify, $align, $direction) {
  display: flex;
  @if $type == row {
    flex-direction: row;
  }
  @if $type == column {
    flex-direction: column;
  }
  @if $justify == start {
    justify-content: flex-start;
  }
  @if $justify == end {
    justify-content: flex-end;
  }
  @if $justify == center {
    justify-content: center;
  }
  @if $justify == between {
    justify-content: space-between;
  }
  @if $justify == around {
    justify-content: space-around;
  }
  @if $align == start {
    align-items: flex-start;
  }
  @if $align == end {
    align-items: flex-end;
  }
  @if $align == center {
    align-items: center;
  }
  @if $align == baseline {
    align-items: baseline;
  }
  @if $align == stretch {
    align-items: stretch;
  }
}


*/
header.header#header {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  height: 130px;
}

.header__action {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 60px;
}
.header__action .navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 60px;
}
.header__action .navbar__navlink {
  transition-property: color;
  font-style: normal;
  font-style: normal;
  font-weight: 600;
  font-size: 2rem;
  line-height: 2.6rem;
  text-align: center;
  position: relative;
  padding-bottom: 4.2rem;
}
.header__action .navbar__navlink:hover {
  color: var(--main-color);
}
.header__action .navbar__navlink::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 0.2rem;
  background-color: var(--main-color);
  transition-property: width;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}
.header__action .navbar__navlink:hover::after {
  width: 100%;
}
.header__action .navbar__navlink--active {
  position: relative;
  padding-bottom: 4.2rem;
  color: var(--main-color);
}
.header__action .navbar__navlink--active::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.2rem;
  background-color: var(--main-color);
  transition-property: width;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}
.header__action .action-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 60px;
}
.header__action .action-button__cart {
  display: inline-block;
  width: 30px;
  position: relative;
}
.header__action .action-button__cart::before {
  content: "3";
  position: absolute;
  display: block;
  top: -0.6rem;
  right: -0.8rem;
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 99px;
  text-align: center;
  color: var(--white);
  font-size: 1.3rem;
  line-height: 1.6rem;
  background: var(--orange-700);
  z-index: 1;
}

/*# sourceMappingURL=styles.css.map */
